@import "./variables";
@import './animation';

.grid {
  height: auto;
  width: auto;
  display: grid;
  text-align: center;

  &--blogs{
    margin: 4rem 1rem;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5rem;
    column-gap: 5rem;
  }

  &--home {
    grid-template-rows: repeat(2, 5rem);
    grid-template-columns: repeat(3, 11rem);
    row-gap: 2rem;
    column-gap: 2rem;

    padding: 3rem;
    
    border-radius: 1rem;
    background-color: rgba($color-white, .1);
    box-shadow: 0 0rem 1rem 2rem rgba($color-primary, .1);
  }

  &--resume {
    grid-template: repeat(4, auto) / (3fr 1fr 3fr);
    row-gap: 3rem;
    column-gap: 4rem;
  }

  &__item {
    position: relative;
    
    &--icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--left {
      display: flex;
      justify-content:center;
      align-items: center;
      // background-color: #fff;
    }

    &--right {
      display: flex;
      justify-content: start;
      align-items: center;
    }
  }
}
