@import './variables';

.side-bar{
    width: 18vw;
    height: 100vh;
    position: fixed;
    margin-left: 2rem;
    padding: 0;
    z-index: 0;
    background-color: rgba($color-white,.1);

    &__wrapper{
        display: flex;
        justify-content: start;
        flex-direction: column;

        margin: 15rem 0 3rem 0;

        height: auto;
        width: 100%;
        z-index: 10;
        // background: #000;
    }

    &__option{

    }
}