// COLORS
$color-black:#0000;
$color-white:#eee;

$color-primary:#658eb8;
$color-primary-dark:#4b6a8a;
$color-primary-light:#79a0c7;

// $color-waves:#678598;
// $color-waves-light:#bdc0c9;
// $color-waves-dark:#073749;

// $color-secondary:#e3aea0;
// $color-secondary-dark:#c98f7f;
// $color-secondary-light:#e4b7ab;
// // $color-secondary-:#d38f65;

$color-tertiary:#d8a22e;
$color-tertiary-dark:#c99422;
$color-tertiary-light:#dba83b;

// $color-yellow:rgb(243, 207, 2);

$color-waves:#678598;
$color-waves-light:#bdc0c9;
$color-waves-dark:#073749;

$color-secondary:#914a54;
$color-secondary-dark:#823f49;
$color-secondary-light:#aa6771;
$color-secondary-light-1:#e4b7ab;


$color-yellow:rgb(243, 207, 2);
// 