// COLORS
$color-black:#0000;
$color-white:#eee;

$color-primary:#658eb8;
$color-primary-dark:#4b6a8a;
$color-primary-light:#79a0c7;

$color-tertiary:#d8a22e;
$color-tertiary-dark:#c99422;
$color-tertiary-light:#dba83b;

$color-waves:#678598;
$color-waves-light:#bdc0c9;
$color-waves-dark:#073749;

$color-secondary:#9e535e;
$color-secondary-dark:#823f49;
$color-secondary-dark-1:#70353e;
$color-secondary-light:#8f525c;
$color-secondary-light-1:#b6757e;
$color-secondary-light-2:#e9aab2;


$color-yellow:rgb(243, 207, 2);
// 