// COLORS
$color-white:#eee;

$color-primary:#07587e;
$color-primary-dark:#074b6b;
$color-primary-light:#096894;

$color-secondary:#c77682;
$color-secondary-dark:#823f49;
$color-secondary-light:#d68995;

$color-yellow:rgb(243, 207, 2);
// 