@import "./variables";
@import "./grid";
@import './layout';
@import "./pages.scss";
@import "./button";
@import "./menu.scss";
@import "./animation";
@import "./sidebar";
@import "./utils";
@import "./mixin";
@import "./bg";

@media (max-width: 320px) {
  html {
    font-size: 25%;
  }
}

@media (min-width: 320px) {
  html {
    font-size: 30%;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 35%;
  }
}

@media (min-width: 600px) {
  html {
    font-size: 40%;
  }
}

@media (min-width: 801px) {
  html {
    font-size: 55%;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 1281px) {
  html {
    font-size: 75%;
  }
}

html {
  background: linear-gradient(
      25deg,
      rgba($color-primary, 1) 0%,
      rgba($color-primary, 1) 50%,
      rgba($color-primary, 1) 80%,
      // rgba($color-primary-light, 1) 90%,
      rgba(228, 183, 171, 0.1) 100%
    ) fixed
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Noto Sans HK", sans-serif;
}

main {
  min-height: 100vh;
}
